[core]
    editor = vim
    autocrlf = input

[alias]
    # Short and sweet
    st = status
    co = checkout
    br = branch
    cm = commit -m
    ps = push
    pl = pull
    
    # Prettier log view
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[init]
    defaultBranch = main

[pull]
    rebase = false

[color]
    ui = auto

[push]
    autoSetupRemote = true

[include]
    path = ~/.gitconfig.local
