[alias]

    aa = add -A
    ba = branch -a

    # commit alternatives
    ca = commit -av
    cam = commit --amend -v
    ci = commit -v

    f = fetch
    l = log --pretty=oneline -n 20 --abbrev-commit

    pl = pull
    rbi = "!f() { git rebase -i $1; }; f"

    st = status -s
    sv = status -v

    sw = "!f() { git switch $1 2> /dev/null || git switch -c $1; }; f"

[core]

    autocrlf = input

[color]

    ui = auto

[init]

    defaultBranch = main
