# default setting
*               text=auto

# fix line endings for all bash scripts
*.sh            text    eol=lf

# fix line endings for individual file without a file name extension
.bashrc         text    eol=lf
