*               text=auto

# fix line endings for all bash scripts
*.sh            text    eol=lf

# fix line endings for individual file without a file name extension
.bash_aliases   text    eol=lf
.bashrc         text    eol=lf
